body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.con {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

center {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#btnCal {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#btnCal:hover {
    background-color: #0056b3;
}

#btnLim {
    background-color: #EE0000; 
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#btnLim:hover {
    background-color: #CC0000; 
}

#btnEnv {
    background-color: #00EE00; 
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#btnEnv:hover {
    background-color: #00CC00; 
}

h3 {
    font-size: 18px;
    margin-top: 20px;
}

form {
    margin: 0;
    padding: 0;
}

input[readonly] {
    background-color: #f0f0f0;
    border: none;
}