body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 150px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#calcular:hover {
    background-color: #10431c; 
}
#limpiar:hover {
    background-color: #58151c; 
}

/* Estilo para el resultado */
#res {
    background-color: #f0f0f0;
}

/* Estilo para los botones Calcular y Limpiar */
#calcular {
    background-color: #28a745; /* Verde */
}

#limpiar {
    background-color: #dc3545; /* Rojo */
}
